
.docs-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #b1b1b1;
  }
.docs-preview:hover {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
  }
.docs-preview h2 {
    font-size: 20px;
    color: var(--si-green);
    margin-bottom: 8px;
  }
.docs-preview a{
    text-decoration: none;
  }

.docs-details h1 {
    font-size: 20px;
    color: var(--si-green);
    margin-bottom: 10px;
  }
.docs-details div {
    margin: 20px 0;
  }