@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --si-green: #0ea500;
  --si-white: #f2f2f2;
  --si-black: #161616;
  --si-gray: #555454;
}

* {
    margin: 0;
    font-family: "QuickSand";
    /* color: #555454; */
    background-color: rgb(255, 255, 255);
  }

p, h1{
  color: var(--si-gray)
}

.content {
  max-width: 920px;
  margin: 40px auto;
  padding: 80px;
}

.btn-black{
  background-color: transparent;
  color: var(--si-black);
}

.btn-green:hover{
  color: var(--si-green);
  background-color: #007e20;
}


